<!doctype html>
<html>

<head>
    <link rel="stylesheet" href="./css/bootstrap.min.css">
    <title> <%= title %> </title>
</head>

<body>
    <nav class="navbar navbar-dark bg-primary">
        <a class="navbar-brand" href="/">Home</a>
        <a class="navbar-brand" href="#">About</a>
        <a class="navbar-brand" href="/add">Add</a>
        <a class="navbar-brand" href="/status">Status</a>
        <a class="navbar-brand" href="/update">Update</a>
        <a class="navbar-brand" href="/delete">Delete</a>
    </nav>
    <div class="container">
        <h1> This is the about page</h1>
        <br/>
        <h4>Name:</h4>
        <h6>Quentin McGilvery</h6>
        <br/>
        <p>This application will allow you to control your smart home!</p>
        <br/>
        <p>You can do things like control the temperature, lock doors, open curtains,
            turn on lights and play music! You will have the ability to not only control these devices, you can add
            them to separate rooms and parts of the house.</p>
        <p>You'll also be able to turn items on and off and of course remove any items. All from this easy to use application.</p>
        <p>Have fun!</p>
    </div>
</body>

</html>