<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="./css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <style>

    </style>
    <title>ePetTracker</title>
</head>

<body>

    <!--DONE - THIS IS NAVIGATION MENU SECTION==============================================================-->
    <nav class="navbar navbar-expand-md navbar-light bgWhite">
        <div class="container">
            <a href="/" class="navbar-brand fw-bold">
                <span class="textBlue">e</span><span class="textBlack">PetTracker</span>
            </a>
            <!--            toggle button for mobile screen=========================================================================-->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <!--            toggle button for mobile screen=========================================================================-->
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-item nav-link" href="/">Home </a>
                    <a class="nav-item nav-link" href="/todo">To-do</a>
                    <a class="nav-item nav-link" href="/add">Add</a>
                    <a class="nav-item nav-link" href="/new_status">Status</a>
                    <a class="nav-item nav-link active" href="/pet">Pet</a>
                    <a class="nav-item nav-link" href="/delete">Delete</a>
                </div>
            </div>
        </div>
    </nav>
    <!--DONE - THIS IS NAVIGATION MENU SECTION==============================================================-->






    <!-- THIS IS POP UP MENU NEW PET PROFILE==================================================================================== -->
    <div class="modal fade" id="newPetPopup" tabindex="-1" aria-labelledby="modal-title" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modal-title">Add new pet</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>Please fill all the fields below</p>
                    <form name="addPet" id="pets" method="POST" action="/">
                        <div class="form-check">
                            <div>
                                <label class="form-check-label" for="pet_name">
                                    Name
                                </label>
                                <input class="form-control" name="add_pet" type="text" id="pet_name"
                                    aria-describedby="nameHelp" placeholder="e.g. Blackie">
                                <label class="form-check-label" for="pet_type">
                                    Type
                                </label>
                                <input class="form-control" name="add_pet" type="text" id="pet_type"
                                    placeholder="e.g. Bulldog">
                                <label class="form-check-label" for="pet_mood">
                                    Mood
                                </label><br>
                                <div class="form-control slidecontainer">
                                    <input class="slider" name="add_pet" type="range" id="pet_mood" value="3" min="1"
                                        step="1" max="5" oninput="sliderText.value=pet_mood.value">
                                    <input id="sliderText" type="number" value="3" min="1" max="5"
                                        oninput="pet_mood.value=sliderText.value" />
                                </div>
                                <label class="form-check-label" for="pet_health">
                                    Health
                                </label>
                                <input class="form-control" name="add_pet" type="text" id="pet_health"
                                    placeholder="e.g. strong">
                            </div>
                        </div>
                        <div class="text-center">
                            <input type="submit" value="Submit" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- THIS IS POP UP MENU NEW PET PROFILE==================================================================================== -->

</body>