<!doctype html>
<html>

<head>
    <link rel="stylesheet" href="./css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <title>Delete webpage!</title>
</head>

<body>

  <nav class="navbar ">
        <a class="navbar-brand" href="/"><span class="textBlack fw-bold">e</span><span class="textWhite fw-bold">DogTracker</span></a>
        <a class="navbar-brand" href="/todo">To-do</a>
        <a class="navbar-brand" href="/pet">Pet</a>
        <a class="navbar-brand fw-bold" href="/delete">Delete</a>
        <a class="navbar-brand" href="/feedback">Feedback</a>
    </nav>
<div class="container col-10 mx-auto">
  <div class="top-margin">
    <h1 class="text-center">Remove a pet, walk or feeding</h1>
  </div>
  <form name="deleteForm" method="POST" action="/deletePet" onsubmit="return validateDeleteForm()" class="top-margin card card-body">
      <h3 style="color: red">Remove a Pet</h3>
  <table class="table table-striped">
      <div>
        <tr>
          <th>Select</th>
          <th>Pet name</th>
          <th>Pet type</th>
          <th>Pet Mood</th>
          <th>Pet Health</th>
        </tr>
        <% pets.forEach(function(pet){%>
        <tr>
          <td>
              <dçiv class="form-check">
                <input class="form-check-input" name="<%= pet.pet_id %>" type="checkbox" value="<%= pet.pet_id %>" id="<%= pet.pet_id %>">
                <label class="form-check-label" for="<%= pet.pet_id %>">
                </label>
            </dçiv>
          </td>
          <td><%=pet.name %></td>
          <td><%=pet.type %></td>
          <td>
            <% if (pet.mood == 1) {%>
                  &#128546
             <%}
            else if (pet.mood == 2) {%>
                  &#128542
            <%}
            else if (pet.mood == 3) {%>
                  &#128529
            <%}
            else if (pet.mood == 4) {%>
                  &#128512
            <%}
            else if (pet.mood == 5) {%>
                  &#128513
            <%}
        %>
          </td>
          <td><%=pet.health %></td>
        </tr>
        <%}) %>
      </div>
    </table>
    <input type="submit" class="btn-primary" value="Submit"/>
        </form>


<form name="deleteWalk" method="POST" action="/deleteWalk" onsubmit="return validateDeleteForm()" class="top-margin card card-body">
    <h3 style="color: red">Remove a walk</h3>
  <table class="table table-striped">
      <div>
        <tr>
          <th>Select</th>
          <th>Pet name</th>
          <th>Walk name</th>
          <th>Distance</th>
          <th>Date & time</th>
          <th>Walk complete</th>
        </tr>
        <% walks.forEach(function(walk){%>
        <tr>
          <td>
              <div class="form-check">
                <input class="form-check-input" name="<%= walk.walk_id %>" type="checkbox" value="<%= walk.walk_id %>" id="<%= walk.walk_id %>">
                <label class="form-check-label" for="<%= walk.walk_id %>">
                </label>
            </div>
          </td>
          <td><%=walk.name %></td>
          <td><%=walk.walk_name %></td>
          <td><%=walk.walk_distance %></td>
          <td><%=walk.walk_datetime.toLocaleString() %></td>
          <td>
            <% if (walk.walk_complete == 1) {%>
                  &#9989
             <%}
            else if (walk.walk_complete == 0) {%>
                  &#10060
            <%}
            %>
          </td>
        </tr>
        <%}) %>
      </div>
    </table>
    <input type="submit" class="btn-primary" value="Submit"/>
 </form>


<form name="deleteFeeding" method="POST" action="/deleteFeeding" onsubmit="return validateDeleteForm()" class="top-margin card card-body">
    <h3 style="color: red">Remove a feeding</h3>
  <table class="table table-striped">
      <div>
        <tr>
          <th>Select</th>
          <th>Pet name</th>
          <th>Food name</th>
          <th>Food type</th>
          <th>Amount</th>
          <th>Date & time</th>
          <th>Feed complete</th>
        </tr>
        <% feeds.forEach(function(feed){%>
        <tr>
          <td>
              <div class="form-check">
                <input class="form-check-input" name="<%= feed.feed_id %>" type="checkbox" value="<%= feed.feed_id %>" id="<%= feed.feed_id %>">
                <label class="form-check-label" for="<%= feed.feed_id %>">
                </label>
            </div>
          </td>
          <td><%=feed.name%></td>
          <td><%=feed.feed_name %></td>
          <td><%=feed.feed_type %></td>
          <td><%=feed.feed_amount %></td>
          <td><%=feed.feed_datetime.toLocaleString()%></td>  
          <td>
            <% if (feed.feed_complete == 1) {%>
                  &#9989
             <%}
            else if (feed.feed_complete == 0) {%>
                  &#10060
            <%}
            %>
          </td>
        </tr>
        <%}) %>
      </div>
    </table>
    <input type="submit" class="btn-primary" value="Submit"/>
 </form>

<script>
    function validateDeleteForm(){
        alert("Are you sure you want to delete?")
    }
</script>
</div>
</body>
</html>




