<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="./css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <title>ePetTracker</title>
  </head>
  <body>
    <nav class="navbar">
      <a class="navbar-brand" href="/">Home</a>
      <a class="navbar-brand" href="/todo">To-do</a>
      <a class="navbar-brand" href="/pet">Pet</a>
      <a class="navbar-brand" href="/delete">Delete</a>
      <a class="navbar-brand" href="/feedback">Feedback</a>
    </nav>

    <div class="top-margin">
        <h1 class="text-center">Leave Feedback Here</h1>
      </div>
      <div>
        <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSc6QRC7TlGsQuobIlZKkML2kBaXnCOJYcdh_dxu9IY3PG50rg/viewform?embedded=true" width="640" height="3700" frameborder="0" marginheight="0" marginwidth="0" >Loading…</iframe>
      </div>
  </body>
</html>