<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="./css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <title>ePetTracker</title>
  </head>
  <body>
    <nav class="navbar navbar-dark bg-primary">
      <a class="navbar-brand" href="#">Home</a>
      <a class="navbar-brand" href="/todo">To-do</a>
      <a class="navbar-brand" href="/add">Add</a>
      <a class="navbar-brand" href="/new_status">Status</a>
      <a class="navbar-brand" href="/pet">Pet</a>
      <a class="navbar-brand" href="/delete">Delete</a>
    </nav>
    <div class="col-6 mx-auto top-margin text-center">
       <ul class="list-group primary">
         <li class="list-group-item list-group-item-secondary border-bottom-0"><h3>Next Scheduled Walk</h3></li>
         <% walks.forEach(function(walks){%>
         <li class="list-group-item list-group-item-primary border-bottom-0"><%=walks.walk_name %></li>
         <li class="list-group-item list-group-item-primary border-bottom-0"><%=walks.walk_distance %> Kilometers</li>
         <li class="list-group-item list-group-item-primary border-bottom-0"><%=walks.walk_datetime %></li>
         <li class="list-group-item list-group-item-primary"><%=walks.pet_id %></li>
         <% }) %>
       </ul>
    </div>
    <div class="col-6 mx-auto top-margin text-center">
       <ul class="list-group primary">
         <li class="list-group-item list-group-item-secondary border-bottom-0"><h3>Next Scheduled Feeding</h3></li>
         <% feeds.forEach(function(feeds){%>
         <li class="list-group-item list-group-item-success border-bottom-0"><%=feeds.feed_name %></li>
         <li class="list-group-item list-group-item-success border-bottom-0"><%=feeds.feed_type %></li>
         <li class="list-group-item list-group-item-success border-bottom-0"><%=feeds.feed_amount %> Grams</li>
         <li class="list-group-item list-group-item-success border-bottom-0"><%=feeds.feed_datetime %></li>
         <li class="list-group-item list-group-item-success border-bottom-0"><%=feeds.pet_id%></li>
         <% }) %>
       </ul>
    </div>
  </body>
</html>