/* COLOR SETTING=====================================*/
.textBlue {
    color: #559BE0;
}

.textBlack {
    color: #545353;
}

.textWhite {
    color: #f8f9fa;
}

.bgBlue {
    background-color: #559BE0;
}

.bgBlack {
    background-color: #545353;
}

.bgWhite {
    background-color: #f8f9fa;
}

body {
    background-color: #f8f9fa;
}

.navbar {
    background-color: #559BE0;
}

.navbar>.navbar-brand {
    color: cornsilk;
}

h1 {
    color: #706576;
}

/* COLOR SETTING=====================================*/


/*THIS IS NAVIGATION STYLING======================================================*/
.active {
    font-weight: bold;
}

.navbar-brand {
    margin: auto;
}

/*THIS IS NAVIGATION STYLING======================================================*/


/*THIS IS PET.HTML SECTION======================================================================        */
img {
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.btn {
    min-width: 100px;
    height: 40px;
    margin: 20px;
}

.btnChangePetImage {
    text-align: center;
}

.imgPet {
    display: none;
}

.petSection {
    clear: both;
}

.petAccordionContainer {
    width: 96%;
    margin: auto;
}

caption {
    caption-side: top;
    text-align: center;
    font-weight: bold;
}


/*edit bootstrap form control*/
.myform-control {
    width: 75%;
}

/*edit bootstrap form control*/


/*THIS IS STYLING FOR SLIDER==========================================*/
.slider {
    -webkit-appearance: none;
    width: 80%;
    height: 15px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #04AA6D;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #04AA6D;
    cursor: pointer;
}

#sliderText {
    display: inline;
    margin-left: 5px;
}

/*THIS IS STYLING FOR SLIDER==========================================*/

/* THIS IS STYLE FOR FLEXBOX PET PROFILE SETTING======================== */
.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-right: 50px;
}

.flex-container>div {
    margin: 10px;
    text-align: center;
    line-height: 35px;
}

.petContentData {
    display: block;
}
/* THIS IS STYLE FOR FLEXBOX PET PROFILE SETTING======================== */
/*THIS IS PET.HTML SECTION======================================================================        */




.top-margin {
    margin-top: 100px;
}



/* SETTING WHEN MAX WIDTH 767============================================ */
@media only screen and (max-width:767px) {
    .btnDelete {
        position: block;
    }

    .imgPet {
        display: block;
        position: relative;
        right: 50%;
        width: 200%;
    }

    .no-more-tables tbody,
    .no-more-tables tr,
    .no-more-tables td {
        display: block;
        text-align: left;
    }

    .no-more-tables thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    .no-more-tables td {
        position: relative;
        padding-left: 50%;
        border: none;
    }

    .btnDeleteWalk {
        position: relative;
        right: 30%;
    }

    .no-more-tables td:before {
        content: attr(data-title);
        position: absolute;
        left: 6px;
        font-weight: bold;
    }

    .flex-container {
        flex-direction: column;
        width: 80%;
    }


    .flex-container>div {
        width: 100%;

    }

    .petContentData {
        display: inline;
    }
}

/* SETTING WHEN MAX WIDTH 767============================================ */


/* set global background color for everything in <body></body> */
body {
    background-color: #f2f3f4;
}

/*   CSS for feedback.html
 */
div,
iframe {
    margin: 0 auto;
}

iframe {
    display: block;
    border-style: none;
}